@font-face {
  font-family: "CircularWeb";
  src: url("/Fonts/circularweb-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "General";
  src: url("/Fonts/general.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobertMedium";
  src: url("/Fonts/robert-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobertRegular";
  src: url("/Fonts/robert-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zentry";
  src: url("/Fonts/zentry-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-circular {
  font-family: "CircularWeb", sans-serif;
}

.font-general {
  font-family: "General", sans-serif;
}

.font-robert-medium {
  font-family: "RobertMedium", sans-serif;
}

.font-robert-regular {
  font-family: "RobertRegular", sans-serif;
}

.font-zentry {
  font-family: "Zentry", sans-serif;
}

/* Section 1 */
#hero video {
  transition: clip-path 0.2s linear;
}

/*Bouncing Buttons */
@keyframes bounceIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounceOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.bounce-in {
  animation: bounceIn 0.5s ease-out forwards;
}

.bounce-out {
  animation: bounceOut 0.5s ease-in forwards;
}

/* Glowing Buttons */
.glow-button .glow-effect {
  background: transparent;
  width: 100%;
  height: 100%;
  transition: background 0.2s ease;
}

.glow-button:hover .glow-effect {
  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(180, 150, 255, 0.4),
    transparent 40%
  );
}
