@font-face {
  font-family: "CircularWeb";
  src: url("/Fonts/circularweb-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "General";
  src: url("/Fonts/general.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobertMedium";
  src: url("/Fonts/robert-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RobertRegular";
  src: url("/Fonts/robert-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zentry";
  src: url("/Fonts/zentry-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-circular {
  font-family: "CircularWeb", sans-serif;
}

.font-general {
  font-family: "General", sans-serif;
}

.font-robert-medium {
  font-family: "RobertMedium", sans-serif;
}

.font-robert-regular {
  font-family: "RobertRegular", sans-serif;
}

.font-zentry {
  font-family: "Zentry", sans-serif;
}

.custom-shapemd {
  width: 600px;
  height: auto;
  border-radius: 30px;
  overflow: hidden;
  clip-path: polygon(4% 0%, 100% 20%, 100% 20%, 100% 80%, 0% 100%);
}
